#title {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    font-family: 'Segoe UI', sans-serif;
}

.topnav {
    position: relative;
}

.topnav a {
    position: absolute;
    top: 0px;
    left: 0px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Segoe UI', sans-serif;
}

.topnav a.active {
    background-color: rgb(187, 187, 187);
    color: white;
}

.topnav a:hover {
    background-color: grey;
    color: white;
}

div.contactformulier {
    width: 500px;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
}

label {
    font-family: 'Segoe UI', sans-serif;
    margin-left: 12px;
    margin-top: 3px;
}

#vraag {
    width: 463px;
    height: 50px;
    margin-left: 12px;
    margin-bottom: 12px;
    margin-top: 5px;
}

input {
    margin-top: 15px;
    border-radius: 5px;
}

#winkel {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#productContainer {
    display: flex;
}

.product {
    border: 5px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
}

.product:hover {
    border-color: #777;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.basket {
    border: 5px dashed black;
    margin: 20px;
    padding: 20px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    border-radius: 10px;
}

.basket-item {
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#productModal img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#productModal {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    height: 90%;
    text-align: center;
    border-radius: 30px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
}

#checkoutModal {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
}

#checkoutModal button {
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-top: 10px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    transform: scale(1);
    transition: 0.3s;
}

#checkoutModal button:hover {
    opacity: 0.7;
    transform: scale(0.9);
    transition: 0.3s;
}

#paymentMethod {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    width: 50%;
    transform: scale(1);
    transition: 0.3s;
}

#paymentMethod:hover {
    transform: scale(0.95);
    transition: 0.3s;
}

#paymentAmount {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    width: 50%;
    transform: scale(1);
    transition: 0.3s;
}

#paymentAmount:hover {
    transform: scale(0.95);
    transition: 0.3s;
}

.basketAdd {
    background-color: #4CAF50;
    background-image: url(../icons/shopping-cart.png);
    background-size: 70% auto;
    background-position: center center;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    transform: scale(1);
    transition: 0.3s;
}

.basketAdd:hover {
    opacity: 0.7;
    transform: scale(0.9);
    transition: 0.3s;
}

.addToBasketButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    transform: scale(1);
    transition: 0.3s;
}

.addToBasketButton:hover {
    opacity: 0.7;
    transform: scale(0.9);
    transition: 0.3s;
}

.closeModalButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    transform: scale(1);
    transition: 0.3s;
}

.closeModalButton:hover {
    opacity: 0.7;
    transform: scale(0.9);
    transition: 0.3s;
}

.topRightCloseModalButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    transform: scale(1);
    transition: 0.3s;
}

.removeBasket {
    background-color: #ff0000;
    background-image: url(../icons/delete.png);
    background-size: 70% auto;
    background-position: center center;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    transform: scale(1);
    transition: 0.3s;
}

.removeBasket:hover {
    opacity: 0.7;
    transform: scale(0.9);
    transition: 0.3s;
}

.plusBasket {
    background-color: rgb(0, 187, 0);
    background-image: url(../icons/plus1.png);
    background-size: 70% auto;
    background-position: center center;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    transform: scale(1);
    transition: 0.3s;
}

.plusBasket:hover {
    opacity: 0.7;
    transform: scale(0.9);
    transition: 0.3s;
}

.minBasket {
    background-color: red;
    background-image: url(../icons/min1.png);
    background-size: 70% auto;
    background-position: center center;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    transform: scale(1);
    transition: 0.3s;
}

.minBasket:hover {
    opacity: 0.7;
    transform: scale(0.9);
    transition: 0.3s;
}

.checkoutButton {
    background-color: #4CAF50;
    background-image: url(../icons/shopping-cart.png);
    background-size: 70% auto;
    background-position: center center;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    transform: scale(1);
    transition: 0.3s;
}

.checkoutButton:hover {
    opacity: 0.7;
    transform: scale(0.9);
    transition: 0.3s;
}